* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: linear-gradient(#f4f4f4, #c6d9ff);
    background-color: #f4f4f4;
    margin: 0;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
}

.checkout-box {
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    border-top: 4px solid #547fd4;
}

.checkout-box h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #dee0e4;
}

.checkout-box form {
    position: relative;
    margin: 0 auto;
    padding: 40px;
}

.checkout-box form input[type="text"],
.checkout-box form input[type="email"],
.checkout-box form input[type="tel"],
.checkout-box form input[type="number"] {
    width: 410px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

.checkout-box #error_message{
    margin: 0 auto;
    width: 85%;
    padding: 0px;
    background: #f19f9f;
    text-align: center;
    font-size: 14px;
    transition: all 0.7s ease;
}

.payment-container{
    margin-top: -5px; 
    margin-left: 150px;
}

.card-radio{
    margin-top: 15px;
    margin-left: 150px;
}